@using Services;
@using Models
@inject IProjectService  _projectService;
@page "/"

<JumbotronSection IsHeadingOne="true"
                  IsLeft="false"
                  CallToActionText="Let's work together!"
                  MainText="Hello, I am Mario!"
                  SubText="Full stack developer with 10+ years of experience working with .NET Core, Angular, and recently - Blazor!"
                  ImageUrl="/img/Headshot.jpg" />

<BigTextSection BigText="Check out some of my work" BackgroundColor="#fe4a49">
    <div class="row">
        @foreach (var project in projects)
        {
            <ProjectComponent Project="@project"></ProjectComponent>
        }
    </div>
</BigTextSection>

<JumbotronSection IsHeadingOne="false"
                  IsLeft="true"
                  CallToActionText="Feel free to reach out!"
                  MainText="Based in Zagreb, Croatia"
                  SubText="I am a professional who promotes remote work and has been working with clients remotely since 2013."
                  ImageUrl="/img/Zagreb.jpg" />

<BigTextSection BigText="Active in the development community" BackgroundColor="#2ab7ca">
    <div class="row">
        <div class="col-md-6">
            <h3>Speaking</h3>
            <ul>
                @foreach (var talk in talks)
                {
                    <li><a href="@talk.Link" target="_blank"><strong>@talk.Event: @talk.Title</strong> (@talk.City, @talk.Year)</a></li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Writing</h3>
            <ul>
                @foreach (var article in articles)
                {
                    <li><a href="@article.Link" target="_blank"><strong>@article.Title</strong> (@article.Platform)</a></li>
                }
            </ul>
        </div>
    </div>
</BigTextSection>

<BigTextSection BigText="I'd love to chat about your new project" BackgroundColor="#fed766">
    <div class="row">
        <div class="col-md-6">
            <h4>Reach out:</h4>
            <EmailForm></EmailForm>
        </div>
        <div class="col-md-6">
            <h4>Or you can reach me via:</h4>
            <ul>
                <li><a href="https://www.intellegens.hr" target="_blank">Intellegens</a></li>
                <li><a href="https://www.linkedin.com/in/mariomucalo/" target="_blank">LinkedIn</a></li>
                <li><a href="https://twitter.com/MarioMucalo" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/mucalo" target="_blank">GitHub</a></li>
                <li><a href="https://stackoverflow.com/users/1642009/mario-mucalo" target="_blank">Stack Overflow</a></li>
            </ul>
        </div>
    </div>
</BigTextSection>


@code {
    private List<Talk> talks;
    private List<Project> projects;
    private List<Article> articles;

    protected override async Task OnInitializedAsync()
    {
        projects = await _projectService.GetProjects();
        talks = await _projectService.GetTalks();
        articles = await _projectService.GetArticles();
    }
}